<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mofi admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Mofi admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <base href="/">
    <link rel="icon" th:href="@{/assets/images/favicon.png}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.png}" type="image/x-icon">
    <title>Login | Mofi - Premium Admin Template By Pixelstrap</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.css}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/icofont.css}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/themify.css}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/flag-icon.css}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/feather-icon.css}">
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/bootstrap.css}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <link id="color" rel="stylesheet" th:href="@{/assets/css/color-1.css}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/responsive.css}">
  </head>
  <body>
    <!-- login page start-->
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-12 p-0">
          <div class="login-card login-dark">
            <div>
              <div><a class="logo" href="index.html">
                <img class="img-fluid for-light" th:src="@{/assets/images/logo/logo.png}" alt="looginpage">
                <img class="img-fluid for-dark" th:src="@{/assets/images/logo/logo_dark.png}" alt="looginpage">
              </a></div>
              <div class="login-main">
                <form class="theme-form" method="post" th:action="@{/authenticate}">
                  <h4>Sign in to account</h4>
                  <p>Enter your email & password to login</p>
                  <div class="form-group">
                    <label for="username" class="col-form-label">Email Address</label>
                    <input id="username" class="form-control" name="username" type="email" required="" placeholder="Test@gmail.com">
                  </div>
                  <div class="form-group">
                    <label for="passwordId" class="col-form-label">Password</label>
                    <div class="form-input position-relative">
                      <input id="passwordId" class="form-control" type="password" name="password" required="" placeholder="*********">
                      <div class="show-hide"><span class="show">                         </span></div>
                    </div>
                  </div>
                  <div class="form-group mb-0">
                    <div class="checkbox p-0">
                      <input id="checkbox1" type="checkbox">
                      <label class="text-muted" for="checkbox1">Remember password</label>
                    </div><a class="link" th:href="@{/forget-password}">Forgot password?</a>
                    <div class="text-end mt-3">
                      <button class="btn btn-primary btn-block w-100" type="submit">Sign in</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- latest jquery-->
      <script th:src="@{/assets/js/jquery.min.js}"></script>
      <!-- Bootstrap js-->
      <script th:src="@{/assets/js/bootstrap/bootstrap.bundle.min.js}"></script>
      <!-- feather icon js-->
      <script th:src="@{/assets/js/icons/feather-icon/feather.min.js}"></script>
      <script th:src="@{/assets/js/icons/feather-icon/feather-icon.js}"></script>
      <!-- scrollbar js-->
      <!-- Sidebar jquery-->
      <script th:src="@{/assets/js/config.js}"></script>
      <!-- Plugins JS start-->
      <!-- calendar js-->
      <!-- Plugins JS Ends-->
      <!-- Theme js-->
      <script th:src="@{/assets/js/script.js}"></script>
      <script th:src="@{/assets/js/script1.js}"></script>
      <!-- Plugin used-->
    </div>
  </body>
</html>