<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" th:fragment="page(breadcrumb)">
<div class="page-header row">
  <div class="header-logo-wrapper col-auto">
    <div class="logo-wrapper"><a href="index.html">
      <img class="img-fluid for-light" th:src="@{/assets/images/logo/logo.png}" alt=""/>
      <img class="img-fluid for-dark" th:src="@{/assets/images/logo/logo_light.png}" alt=""/></a>
    </div>
  </div>
  <div class="col-4 col-xl-4 page-title">
    <th:block th:insert="${breadcrumb}" />
  </div>
  <!-- Page Header Start-->
  <div class="header-wrapper col m-0">
    <div class="row">
      <form class="form-inline search-full col" action="#" method="get">
        <div class="form-group w-100">
          <div class="Typeahead Typeahead--twitterUsers">
            <div class="u-posRelative">
              <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Mofi .." name="q" title="" autofocus>
              <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading...</span></div><i class="close-search" data-feather="x"></i>
            </div>
            <div class="Typeahead-menu"></div>
          </div>
        </div>
      </form>
      <div class="header-logo-wrapper col-auto p-0">
        <div class="logo-wrapper"><a href="index.html">
          <img class="img-fluid" th:src="@{/assets/images/logo/logo.png}" alt=""></a>
        </div>
        <div class="toggle-sidebar">
          <svg class="stroke-icon sidebar-toggle status_toggle middle">
            <use th:href="@{/assets/svg/icon-sprite.svg#toggle-icon}"></use>
          </svg>
        </div>
      </div>
      <div class="nav-right col-xxl-8 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
        <ul class="nav-menus">
          <li>                         <span class="header-search">
                    <svg>
                      <use th:href="@{/assets/svg/icon-sprite.svg#search}"></use>
                    </svg></span></li>
          <li>
            <div class="form-group w-100">
              <div class="Typeahead Typeahead--twitterUsers">
                <div class="u-posRelative d-flex align-items-center">
                  <svg class="search-bg svg-color">
                    <use th:href="@{/assets/svg/icon-sprite.svg}+''+${'#search'}"></use>
                  </svg>
                  <input class="demo-input py-0 Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Mofi .." name="q" title="">
                </div>
              </div>
            </div>
          </li>
          <li class="fullscreen-body">                       <span>
                    <svg id="maximize-screen">
                      <use th:href="@{/assets/svg/icon-sprite.svg}+${'#full-screen'}"></use>
                    </svg></span></li>
          <li class="onhover-dropdown">
            <div class="notification-box">
              <svg>
                <use th:href="@{/assets/svg/icon-sprite.svg}+${'#notification'}"></use>
              </svg><span class="badge rounded-pill badge-primary">4 </span>
            </div>
            <div class="onhover-show-div notification-dropdown">
              <h5 class="f-18 f-w-600 mb-0 dropdown-title">Notifications                               </h5>
              <ul class="notification-box">
                <li class="toast default-show-toast align-items-center border-0 fade show" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
                  <div class="d-flex justify-content-between">
                    <div class="toast-body d-flex p-0">
                      <div class="flex-shrink-0 bg-light-primary"><img class="w-auto" th:src="@{/assets/images/dashboard/icon/wallet.png}" alt="Wallet"></div>
                      <div class="flex-grow-1"> <a href="private-chat.html">
                        <h6 class="m-0">Daily offer added</h6></a>
                        <p class="m-0">User-only offer added</p>
                      </div>
                    </div>
                    <button class="btn-close btn-close-white shadow-none" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                </li>
                <li class="toast default-show-toast align-items-center border-0 fade show" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
                  <div class="d-flex justify-content-between">
                    <div class="toast-body d-flex p-0">
                      <div class="flex-shrink-0 bg-light-info"><img class="w-auto" src="../assets/images/dashboard/icon/shield-dne.png" alt="Shield-dne"></div>
                      <div class="flex-grow-1"> <a href="private-chat.html">
                        <h6 class="m-0">Product Review</h6></a>
                        <p class="m-0">Changed to a workflow</p>
                      </div>
                    </div>
                    <button class="btn-close btn-close-white shadow-none" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                </li>
                <li class="toast default-show-toast align-items-center border-0 fade show" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
                  <div class="d-flex justify-content-between">
                    <div class="toast-body d-flex p-0">
                      <div class="flex-shrink-0 bg-light-warning"><img class="w-auto" src="../assets/images/dashboard/icon/graph.png" alt="Graph"></div>
                      <div class="flex-grow-1"> <a href="private-chat.html">
                        <h6 class="m-0">Return Products</h6></a>
                        <p class="m-0">52 items were returned</p>
                      </div>
                    </div>
                    <button class="btn-close btn-close-white shadow-none" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                </li>
                <li class="toast default-show-toast align-items-center border-0 fade show" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
                  <div class="d-flex justify-content-between">
                    <div class="toast-body d-flex p-0">
                      <div class="flex-shrink-0 bg-light-tertiary"><img class="w-auto" src="../assets/images/dashboard/icon/ticket-star.png" alt="Ticket-star"></div>
                      <div class="flex-grow-1"> <a href="private-chat.html">
                        <h6 class="m-0">Recently Paid</h6></a>
                        <p class="m-0">Card payment of $343   </p>
                      </div>
                    </div>
                    <button class="btn-close btn-close-white shadow-none" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="onhover-dropdown">
            <svg>
              <use href="../assets/svg/icon-sprite.svg#header-bookmark"></use>
            </svg>
            <div class="onhover-show-div bookmark-flip">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="front">
                    <h5 class="f-18 f-w-600 mb-0 dropdown-title">Bookmark</h5>
                    <ul class="bookmark-dropdown">
                      <li>
                        <div class="row">
                          <div class="col-4 text-center">
                            <div class="bookmark-content">
                              <div class="bookmark-icon bg-light-primary"><i class="stroke-primary" data-feather="file-text"></i></div><span class="font-primary">Forms</span>
                            </div>
                          </div>
                          <div class="col-4 text-center">
                            <div class="bookmark-content">
                              <div class="bookmark-icon bg-light-secondary"><i class="stroke-secondary" data-feather="user"></i></div><span class="font-secondary">Profile</span>
                            </div>
                          </div>
                          <div class="col-4 text-center">
                            <div class="bookmark-content">
                              <div class="bookmark-icon bg-light-warning"><i class="stroke-warning" data-feather="server"></i></div><span class="font-warning">Tables</span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="text-center"><a class="flip-btn f-w-700 btn btn-primary w-100" id="flip-btn" href="javascript:void(0)">Add Bookmark</a></li>
                    </ul>
                  </div>
                  <div class="back">
                    <ul>
                      <li>
                        <div class="bookmark-dropdown flip-back-content">
                          <input type="text" placeholder="search...">
                        </div>
                      </li>
                      <li><a class="f-w-700 d-block flip-back btn btn-primary w-100" id="flip-back" href="javascript:void(0)">Back</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="mode">
              <svg>
                <use href="../assets/svg/icon-sprite.svg#moon"></use>
              </svg>
            </div>
          </li>
          <li class="onhover-dropdown">
            <div class="notification-box">
              <svg>
                <use href="../assets/svg/icon-sprite.svg#header-message"></use>
              </svg><span class="badge rounded-pill badge-info">3 </span>
            </div>
            <div class="onhover-show-div notification-dropdown">
              <h5 class="f-18 f-w-600 mb-0 dropdown-title">Messages             </h5>
              <ul class="messages">
                <li class="d-flex b-light1-primary gap-2">
                  <div class="flex-shrink-0"><img src="../assets/images/dashboard-2/user/1.png" alt="Graph"></div>
                  <div class="flex-grow-1"> <a href="private-chat.html">
                    <h6 class="font-primary f-w-600">Hackett Yessenia</h6></a>
                    <p>Hello Miss...&#128522;</p>
                  </div><span>2 hours</span>
                </li>
                <li class="d-flex b-light1-secondary gap-2">
                  <div class="flex-shrink-0"><img src="../assets/images/dashboard-2/user/2.png" alt="Graph"></div>
                  <div class="flex-grow-1"> <a href="private-chat.html">
                    <h6 class="font-secondary f-w-600">schneider Adan</h6></a>
                    <p>Wishing You a Happy Birthday Dear..  🥳&#127882;</p>
                  </div><span>3 hours</span>
                </li>
                <li class="d-flex b-light1-success gap-2">
                  <div class="flex-shrink-0"><img src="../assets/images/dashboard-2/user/3.png" alt="Graph"></div>
                  <div class="flex-grow-1"> <a href="private-chat.html">
                    <h6 class="font-success f-w-600">Mahdi Gholizadeh</h6></a>
                    <p>Hello Dear!! This Theme Is Very beautiful</p>
                  </div><span>5 hours</span>
                </li>
                <li class="bg-transparent"><a class="f-w-700 btn btn-primary w-100" href="letter-box.html">View all</a></li>
              </ul>
            </div>
          </li>
          <li class="cart-nav onhover-dropdown">
            <div class="cart-box">
              <svg>
                <use href="../assets/svg/icon-sprite.svg#stroke-ecommerce"></use>
              </svg>
            </div>
            <div class="cart-dropdown onhover-show-div">
              <h5 class="f-18 f-w-600 mb-0 dropdown-title">Cart</h5>
              <ul>
                <li>
                  <div class="d-flex"><img class="img-fluid b-r-5 me-3 img-60" src="../assets/images/other-images/cart-img.jpg" alt="">
                    <div class="flex-grow-1"><span class="f-w-600">Furniture Chair for Home</span>
                      <div class="qty-box">
                        <div class="input-group"><span class="input-group-prepend">
                                  <button class="btn quantity-left-minus" type="button" data-type="minus" data-field="">-</button></span>
                          <input class="form-control input-number" type="text" name="quantity" value="1"><span class="input-group-prepend">
                                  <button class="btn quantity-right-plus" type="button" data-type="plus" data-field="">+</button></span>
                        </div>
                      </div>
                      <h6 class="font-primary">$500</h6>
                    </div>
                    <div class="close-circle"><a class="bg-danger" href="#"><i data-feather="x"></i></a></div>
                  </div>
                </li>
                <li>
                  <div class="d-flex"><img class="img-fluid b-r-5 me-3 img-60" src="../assets/images/other-images/table-img.jpg" alt="">
                    <div class="flex-grow-1"><span class="f-w-600">Furniture Table for Office</span>
                      <div class="qty-box">
                        <div class="input-group"><span class="input-group-prepend">
                                  <button class="btn quantity-left-minus" type="button" data-type="minus" data-field="">-</button></span>
                          <input class="form-control input-number" type="text" name="quantity" value="1"><span class="input-group-prepend">
                                  <button class="btn quantity-right-plus" type="button" data-type="plus" data-field="">+</button></span>
                        </div>
                      </div>
                      <h6 class="font-primary">$500.00</h6>
                    </div>
                    <div class="close-circle"><a class="bg-danger" href="#"><i data-feather="x"></i></a></div>
                  </div>
                </li>
                <li class="total">
                  <h6 class="mb-0">Order Total : <span class="f-w-600 f-right">$1000.00</span></h6>
                </li>
                <li class="text-center"><a class="d-block view-cart f-w-700 btn btn-primary w-100" href="cart.html">View Cart</a><a class="btn btn-primary view-checkout w-100 f-w-700" href="checkout.html">Checkout</a></li>
              </ul>
            </div>
          </li>
          <li class="profile-nav onhover-dropdown px-0 py-0">
            <th:block th:replace="~{share/user/user-profile :: user-profile}" />
          </li>
        </ul>
      </div>
      <script class="result-template" type="text/x-handlebars-template">
        <div class="ProfileCard u-cf">
          <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
          <div class="ProfileCard-details">
            <div class="ProfileCard-realName">{{name}}</div>
          </div>
        </div>
      </script>
      <script class="empty-template" type="text/x-handlebars-template"><div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div></script>
    </div>
  </div>
  <!-- Page Header Ends                              -->
</div>
</html>