<!doctype html>
<html th:fragment="layout (template, breadcrumb, menu)">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Mofi admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords"
          content="admin template, Mofi admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" th:href="@{/assets/images/favicon.png}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.png}" type="image/x-icon">
    <title>Default Dashboard | Mofi - Premium Admin Template By Pixelstrap</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.css}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/icofont.css}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/themify.css}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/flag-icon.css}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/feather-icon.css}">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/slick.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/slick-theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/scrollbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/animate.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/datatables.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/date-range-picker/flatpickr.min.css}">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendors/bootstrap.css}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <link id="color" rel="stylesheet" th:href="@{/assets/css/color-1.css}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/responsive.css}">
</head>
<body>
<!--
<nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"><span></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar" style>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0" th:remove="all">

                <li th:fragment="menuItem (link,active,title,glyph,text)" th:class="nav-item">
                    <a th:class="${active==menu ? 'nav-link active' : 'nav-link'}" th:href="@{__${link}__}"
                       th:title="${title}">
                        <span th:class="'fa fa-'+${glyph}" class="fa fa-home"></span>
                        <span th:text="${text}">Template</span>
                    </a>
                </li>

            </ul>

            <ul class="nav navbar-nav me-auto">

                <li th:replace="~{::menuItem ('/','home','home page','home','Home')}">
                    <span class="fa fa-home" aria-hidden="true"></span>
                    <span>Home</span>
                </li>

                <li th:replace="~{::menuItem ('/owners/find','owners','find owners','search','Find owners')}">
                    <span class="fa fa-search" aria-hidden="true"></span>
                    <span>Find owners</span>
                </li>

                <li th:replace="~{::menuItem ('/vets.html','vets','veterinarians','th-list','Veterinarians')}">
                    <span class="fa fa-th-list" aria-hidden="true"></span>
                    <span>Veterinarians</span>
                </li>

                <li
                        th:replace="~{::menuItem ('/oups','error','trigger a RuntimeException to see how it is handled','exclamation-triangle','Error')}">
                    <span class="fa exclamation-triangle" aria-hidden="true"></span>
                    <span>Error</span>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="container xd-container">

        <th:block th:insert="${template}"/>

        <br/>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="../static/images/spring-logo.svg" th:src="@{/resources/images/spring-logo.svg}"
                         alt="VMware Tanzu Logo" class="logo">
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.3/dist/js/bootstrap.bundle.min.js}"></script>
-->
<div class="loader-wrapper">
    <div class="loader loader-1">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
        <div class="loader-inner-1"></div>
    </div>
</div>
<!-- loader ends-->
<!-- tap on top starts-->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<!-- tap on tap ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <th:block th:insert="~{fragments/header-page::page(${breadcrumb})}" />
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <th:block th:insert="~{fragments/sidebar-page::page(${menu})}" />
        <!-- Page Sidebar Ends-->
        <div class="page-body">
            <!-- Container-fluid starts-->
            <th:block th:insert="${template}" />
            <!-- Container-fluid Ends-->
        </div>
        <!-- footer start-->
        <th:block th:insert="~{fragments/footer-page::page}" />
    </div>
</div>
<!-- latest jquery-->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<!-- Bootstrap js-->
<script th:src="@{/assets/js/bootstrap/bootstrap.bundle.min.js}"></script>
<!-- feather icon js-->
<script th:src="@{/assets/js/icons/feather-icon/feather.min.js}"></script>
<script th:src="@{/assets/js/icons/feather-icon/feather-icon.js}"></script>
<!-- scrollbar js-->
<script th:src="@{/assets/js/scrollbar/simplebar.js}"></script>
<script th:src="@{/assets/js/scrollbar/custom.js}"></script>
<!-- Sidebar jquery-->
<script th:src="@{/assets/js/config.js}"></script>
<!-- Plugins JS start-->
<script th:src="@{/assets/js/sidebar-menu.js}"></script>
<script th:src="@{/assets/js/sidebar-pin.js}"></script>
<script th:src="@{/assets/js/slick/slick.min.js}"></script>
<script th:src="@{/assets/js/slick/slick.js}"></script>
<script th:src="@{/assets/js/header-slick.js}"></script>
<script th:src="@{/assets/js/notify/bootstrap-notify.min.js}"></script>
<!-- calendar js-->
<script th:src="@{/assets/js/notify/index.js}"></script>
<script th:src="@{/assets/js/datatable/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatables/datatable.custom.js}"></script>
<script th:src="@{/assets/js/datatable/datatables/datatable.custom1.js}"></script>
<script th:src="@{/assets/js/datepicker/date-range-picker/moment.min.js}"></script>
<script th:src="@{/assets/js/datepicker/date-range-picker/datepicker-range-custom.js}"></script>
<script th:src="@{/assets/js/typeahead/handlebars.js}"></script>
<script th:src="@{/assets/js/typeahead/typeahead.bundle.js}"></script>
<script th:src="@{/assets/js/typeahead/typeahead.custom.js}"></script>
<script th:src="@{/assets/js/typeahead-search/handlebars.js}"></script>
<script th:src="@{/assets/js/typeahead-search/typeahead-custom.js}"></script>
<script th:src="@{/assets/js/height-equal.js}"></script>
<script th:src="@{/assets/js/animation/wow/wow.min.js}"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script th:src="@{/assets/js/script.js}"></script>
<script th:src="@{/assets/js/script1.js}"></script>
<script th:src="@{/assets/js/theme-customizer/customizer.js}"></script>
<!-- Plugin used-->
<script>new WOW().init();</script>
</body>

</html>